<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827799771250-9os9isv10n0fl5qm2ektuth3n5dskoqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827799771250-9os9isv10n0fl5qm2ektuth3n5dskoqr</string>
	<key>API_KEY</key>
	<string>AIzaSyChkKG_FQ44ZSVyg3YeVdEpWGn0t37t5DE</string>
	<key>GCM_SENDER_ID</key>
	<string>827799771250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.txlabz.WalletWiseAI</string>
	<key>PROJECT_ID</key>
	<string>walletwiseai</string>
	<key>STORAGE_BUCKET</key>
	<string>walletwiseai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827799771250:ios:85b864aa9fde15e3424aeb</string>
</dict>
</plist>